/*cards*/

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-black {
    background-color: gray !important;
}
  /*cards*/

/*navbar*/
#navbarTop:hover #dp-menu{
    display: block;
}


.row > div{
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.Time {
    text-align: right;
    font-size: 14pt;
    font-weight: bold;
    font-family: arial;
}

div#page-content-wrapper span.info-1{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Economica', sans-serif;
}


div#page-content-wrapper span.info-2{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Economica', sans-serif;
}

div#page-content-wrapper span.info-3{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Economica', sans-serif;
    padding-bottom: 5rem;
}


#about_us{
    justify-content: center;
    display: block;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#cards{
    text-align: center;
}

#Infobtn{
 margin-right: 1rem;   
}

#Searchbtn{
    margin-right: 1rem;
}

#header{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container{
    position: relative;
    height: 100%;
}

div#page-content-wrapper{
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    height: 100%;
    font-size: 14px;
    margin-left: 1rem;
} 

#progress{
    margin-top: 2rem;
    width: 75%;
}

#statusbar{
    width: 1%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
}

span#healthvalue, #statusvalue {
    font-size: 18px;
    font-weight: bolder;
}

#buttons{
    margin-top: 0.5rem;
}

div#security, #problems, #Userstext{
    font-size: 16px;
    font-weight: bolder;
}



.footer{
    bottom: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner-footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner-footer .logo-container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner-footer .logo-container img{
    width: 150px;
    height: auto; 
}

.inner-footer .footer-third{
    width: calc(21.666666667% - 20px);
    margin-right: 70px;
    float: left;
    justify-content: center;
    height: 100%;
}

.inner-footer .footer-third:last-child{
    margin-right: auto;
}

.inner-footer .footer-third h1{
    font-family: var(--Varela-Round);
    font-size: 22px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a{
    font-family: var(--Varela-Round);
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 18px;
}

@media(max-width: 600px){
    .footer .inner-footer{
        width: 90%;
    }
    .inner-footer .logo-container,
    .inner-footer .footer-third{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*tables*/

.striped {
    border-collapse: collapse;
    margin: 50px 2.5rem;
    font-size: 0.9em;
    color: black;
    width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .striped thead tr {
    background-color: #9c9c9c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .striped th,
  .striped td {
    padding: 12px 15px;
  }
  
  .striped tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .striped tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .striped tbody tr:last-of-type {
    border-bottom: 2px solid #949494;
  }
  
  .striped tbody tr:hover td:not(:last-child) {
    font-weight: bold;
    background-color: rgb(201, 201, 201);
  }

  .striped tr i{
    top: 0;
    right: 0px;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

    .striped tr i:hover{
        color: red;
    }



/*footer and general*/
* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -162px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 200px; 
  }
  .site-footer {
    background: rgb(189, 189, 189);
    width: 70%;
    margin: 0 auto;
  }

    /* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 15px;
    border: 5px solid transparent white;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 128, 128);
  }
  
  